/* AddToCart.css */

.cart-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    width: 360px;
    margin: 0 auto;
    /* overflow-y: scroll; */
  }
  
  .cart-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(30, 94, 30);
  }
  
  .cart-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;
  }
  
  .cart-item img {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50px;
  }
  
  .cart-item p {
    margin: 0;
  }
  
  .cart-item p.item-name {
    font-weight: bold;
    font-size: 16px;
  }
  
  .cart-item p.item-price {
    font-size: 14px;
    color: #888;
  }

  .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .item-quantity span {
    font-size: 14px;
    margin-right: 10px;
  }
  
  .item-quantity button {
    font-size: 14px;
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .item-quantity button:hover {
    background-color: #0056b3;
  }

  .number-input{
    width: 25px;
  }

  .total{
    margin-top: 40px;
    margin-left: 50%;
    color: rgb(30, 94, 30);
    font-size: 15px;
  }

  .title{
    font-size: 18px;
    color: rgb(30, 94, 30);
    font-family: sans-serif;
  }

  .price{
    font-size: 18px;
    color: rgb(30, 94, 30);
    font-family: sans-serif;
  }

  .remove-item{
    font-size: 18px;
    color: rgb(30, 94, 30);
    margin-right: 2px;
  }

  .quantity{
    display: flex;
    border: 0.5px solid rgb(30, 94, 30);
    border-radius: 6px;
  }

  .number{
    font-size: 18px;
    border: 1px solid rgb(30, 94, 30);
    padding: 5px;
  }
  
  .plus, .minus{
    font-size: 18px;
  }