/* Your existing CSS */

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 14px;
  max-width: 500px;
  text-align: center;
  width: 100px; /* Set the desired width */
  height: 140px; /* Set the desired height */
  text-align: center;
  transition: transform 0.3s; /* Add a transition for the transform property */
}

.category-card:hover {
  transform: scale(1.1); /* Apply a zoom-out effect on hover */
}

.category-card img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.category-name {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

  
  