.category-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
    justify-content: space-between;
  }

.Category-heading{
  font-size: 28px;
  color: green;
  font-weight: bold;
}

.Categories-heading-row{
  display: flex;
  justify-content: space-between;
  padding: 5% 4% 0% 4%;
}

.view_all{
  cursor: pointer;
  text-decoration: underline;
  color: green;
  padding-top: 2%;
}