.features-div{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-evenly;
    margin-bottom: 35px;
}

.feature{
    display: flex;
    margin: 0% 0% 5%;
}

.line{
    font-size: 22px;
    color: green;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
}

.icon{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 70px;
    border: 2px solid black;
}

@media (max-width: 768px){
    .features-div{
        display: flex;
        flex-direction: column;
    }

    .icon{
        border-radius: 50%;
        max-width: 100%;
    }

    .line{
        font-size: 16px;
        max-width: 100%;
    }
}