.Shop {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: green;
}

.category-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: 40px; /* Add margin to create space between accordion and details */
  padding-bottom: 100px; /* Add bottom padding to create space for the fixed navbar while scrolling */
}

.category {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Add some padding to control the size of the accordion */
}

/* New styles for accordion */
.MuiAccordion-root {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 35%, green 100%);
  background-size: cover;
  color: #fff;
  margin-bottom: 20px;
}

.MuiAccordionSummary-content {
  align-items: center;
  padding: 8px;
}

.MuiAccordionSummary-content .MuiAvatar-root {
  margin-right: 12px;
}

.MuiAccordionSummary-expandIconWrapper {
  margin-left: auto;
}

.MuiAccordionDetails-root {
  padding: 0;
}

.MuiList-root {
  width: 100%;
  padding: 0;
}

.MuiListItem-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.MuiListItemText-root {
  margin-left: 16px;
}

/* ... Other styles ... */

/* New styles for accordion */
.MuiAccordion-root {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 35%,
    green 100%
  );
  background-size: cover;
  color: #fff;
  margin-bottom: 20px;
}

.MuiAccordionSummary-content {
  display: flex;
  align-items: center;
  padding: 8px;
}

.MuiAccordionSummary-content .MuiAvatar-root {
  margin-right: 12px;
  height: 40px; /* Set a fixed height for the avatar image */
  width: 40px; /* Set a fixed width for the avatar image */
}

.MuiAccordionSummary-expandIconWrapper {
  margin-left: auto;
}

.MuiAccordionDetails-root {
  padding: 0;
}

.MuiList-root {
  width: 100%;
  padding: 0;
}

.MuiListItem-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex; /* Make the list items a flex container */
  align-items: center; /* Vertically center the content */
}

.MuiListItemText-root {
  margin-left: 16px;
}

/* ... Other styles ... */

