*{
    margin: 0;
    padding: 0;
}

.navbar{
    /* position: fixed; */
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.coupon-code{
    align-items: center;
}

.coupon-code p{
    color: white;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 10px;
}

.user{
    display: flex;
    justify-content: space-evenly;
}

.sign-in{
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}

.sign-up{
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
}

.signin-icon{
    margin-top: 5px;
    margin-right: 5px;
}

@media (max-width: 768px){
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .coupon-code{
        align-items: center;
        justify-self: center;
        margin-right: 20%;
    }

    .coupon-code p{
        font-size: 12px;
    }

    .sign-in, .sign-up{
        font-size: 12px;
        padding-bottom: 10px;
    }
}