.header{
    width: 100%;
    height: 120px;
    background: linear-gradient( rgb(40, 77, 40), rgb(88, 201, 88));
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: center;
}

.solis{
    font-size: 50px;
    color: white;
    font-weight: bolder;
}

.cattle-feed{
    font-size: 22px;
    color: white;
    font-family: sans-serif ;
}

.search{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}

.search-icon{
   color: white;
   font-size: 20px;
   padding: 2%;
   margin-top: 40px;
}

.basket-icon{
    font-size: 30px;
    padding-right: 10px;
    margin-top: 20px;
    color: white;
}

.search-input{
    padding: 17px;
    margin-top: 33px;
    width: 110%;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-style: italic;
    height: 20px
}

.my-cart{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 30px;
}

.cart{
    display: flex;
    flex-direction: row;
}

.basket-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .basket-icon {
    font-size: 24px;
    color: White;
  }
  
  .my-cart {
    font-size: 14px;
    color: White;
    margin-left: 5px;
  }
  
  .cart-notification {
    background-color: #28a745;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 65%;
  }

@media (max-width: 768px){
    .header{
        height: 100px;
    }
    .logo{
        margin-left: 15px;
    }

    .solis{
        font-size: 30px;
    }
    .cattle-feed{
        font-size: 12px;
    }

    .search{
        padding-right: 10px;
    }

    .search-input{
        height: 5px;
        width: 100%;
        font-size: 13px;
    }

    .cart{
        margin-right: 1%;
        margin-bottom: 17%;
    }

    .my-cart{
        font-size: 15px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .basket-icon{
        font-size: 20px;
    }
    .search-icon{
        margin-top: 40px;
        padding: 2%;
     }
     .cart-notification {
        right: 60%;
      }
}


  

